@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-family: Roboto, sans-serif;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  margin: 0 auto;
}
